.modal-products-body{
    max-width: 600px;
}

.category-body-container{
    display: flex;
    flex-direction: row;
}
.card-modal-prod-left{
    width: 30%;
}
.card-modal-prod-right{
    width: 70%;
}

.MuiDialog-paperWidthSm{
    max-width: 800px !important;
}